
#headerDiv {
    height: 60px;
}

#headerTitle{
    font-size: 30px;
    align-self: center;
    color: #006aff;
    padding-left: 3%;
}

#horizontalLine{
    height: 1px;
    width: 96%;
    margin-left: 2%;
    background-color: gray;
    opacity: 0.5;
}

#listDiv{
    width: 90%;
    margin-left: 5%;
}

#listContent{
    height: 75vh;
}

#listHeader{
    margin-top: 15px;
    height: 50px;
    background-color: #83b2f3;
    padding: 1%;
    margin-bottom: 1px;
}

